.break.opaque {
	border-bottom-width: 2px;
	border-bottom-color: $bg-primary;
}

.break.img-separator {
	position: relative;
	@include alignwide;
	height: $gutter--md;
	background: var(--img-separator) no-repeat center/cover;
	background-color: $bg-secondary;
	border: 0;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($bg-dark, 0.3); 
	}
}